/*
说明：
	1.最左侧一列要求自适应浏览器高度，左上面4个按钮相对浏览器左上角固定位置，
	左下方两个按钮相对浏览器左下角固定位置。

	2.左侧第二列(蓝色背景色)导航列固定宽度，高度也是自适应浏览器高度。
	最下面的Monthly Goals部分的内容相对浏览器下边固定位置。

	3.整个白色区域自适应宽度，右上方的人脸，名字部分相对浏览器右上角固定位置。

	4.白色区域左侧列固定宽度，右侧列自适应宽度。

要求：
	代码风格符合某种编码规范
	尽可能按照设计稿的尺寸进行实现
	不需要考虑兼容IE浏览器

images地址:
	H:\gitHub\days12-15PsdToHtml\images\

PSD:
	W=1580;	H=1020;
log:
	1.在PS cc中用自动切图，切出的图片是空白的，想了半天，看到一篇文章，
	说一般只有*.png 格式的软件才会有透明效果。

	2.CSS中图片不能有空格哦，不然看不见图片。

	3.background-position: center;//使图片居中，比设置x,y值要方便很多。

	4.先易后难

	5.为什么使用fixed后，无法设置 background-color:;？？？

	6.background-repeat/-position/...没有继承性，注意使用。

	7.还要多熟悉选择器的应用，尤其是伪类，伪元素。比如：区分：first-of-type,first-child

	8.自以为了解某个规则，实际上还有很多的不知道，当出现问题的时候，要适当的查看文档靠谱:)

	9.一定要先写HTML结构，然后再写CSS，否则最后“迷路”，更有目标感，或者对象感，参照物。

	10.在心中要随时搞清楚元素是inline，还是block

	11.inline元素没有margin-top和margin-bottom
	inline元素的padding-top和padding-bottom不影响周围的元素
	thead，tbody，tfoot，tr没有margin和padding，其实是因为display分别是table-header-group，table-footer-group，table-row-group，table-row
	td没有margin，其实是因为display是table-cell

	12.将多个类修饰器应用到一个选择器上，而不总是使用 p:nth-child(){}; 因为这样总是没有效果，很难分辨到底
	到底是在修饰那个元素。比如：<a class="leftbar-item item2" href="#"></a>，第一个leftbar-item 选择器应用在共有属性上，item2应用在私有属性上。

	13.background-size: 45%; ？？？

	14.nav .leftbar a.leftbar-item ？？？a后面加一个".",然后添加选择器是什么写法
		#将标签和属性写在一起便于识别，也便于选择。

	15.一级导航：用nav ，针对二级导航:二级导航用 class="subnav",语义明确，sub：是指下面、符属的意思;

	16.我很少写标签在行内元素在h里面，比如：
	<h3 class="subtitle">
		MENU
		<a class="fr" href="#">
		</a>
	</h3>

	16.rem是什么意思？

*/

*,body,html{
	margin:0;
	padding: 0;
	box-sizing:border-box;
	font-family: "microsoft yahei",Georgia,serif;
	font-size: 14px;
}
html{
	overflow-y:hidden
}
ul{
	list-style: none;
}

/*Active Highlight，在当前的菜单*/
.ActiveLight{
	background: url(images/Active_Highlight.png) no-repeat left center;	
}
nav{
	width: 350px;
	height: 100%;
	/*我的理解方式错了吗？相对于浏览器固定定位：不是应该采用fixed? 是整个DIV，还是那几个按钮图标？*/
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100%;
} 
nav .primary{
	background: #1d2531;
	width: 100px;
	height: 100%;
	margin-right: 30px;
	position: absolute;
    top: 0px;
    left: 0px;
    
}
nav .primary ul{	
	text-align: center;	
	position: fixed;	
}
nav .primary ul li{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin: 20px;	
	cursor: pointer;
}
nav .primary ul li[class^="item"]{
	background-repeat: no-repeat;
	background-position: center;	
}
nav .primary ul .item1{	
	background: url(images/Item1.png)  #289df4;	
}
nav .primary ul .item2{
	background: url(images/Item2.png) #9581e3;
}
nav .primary ul .item3{
	background: url(images/Item3.png) #cf2c0f;
}
nav .primary ul .item4{
	background: url(images/Plus_Icon.png),url(images/Base.png);
}
/*左测一列：底部设置栏*/
nav .primary .set{
	width: 56px;
	height: 22px;
	margin-top: 96%;
	/*margin:0 26px 23px;*/	
	position: fixed;
	bottom: 26px;
	left: 23px;
}
nav .primary .set a{
	display: inline-block;
	width: 20px;
	height: 20px;
	float: left;
	opacity: 0.5;
}
nav .primary .set a:first-child{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	background: url(images/Grid.png) no-repeat center;
}	
nav .primary .set a:last-child{
	background: url(images/settings.png) no-repeat center;
}	

/*
	2.左侧第二列列[固定宽度]，[高度]自适应浏览器高度。
	最下面的Monthly Goals部分的内容相对浏览器下边固定位置。
*/

nav .secondary{
	width: 250px;
	height: 100%;
	background-color: #222c3c;
	padding: 20px;	
	/*margin-left: 100px;*/
	position: absolute;
	top: 0px;
	left: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*bottom 分隔条*/
nav .secondary .divider{
	background: url(images/Divider.png) no-repeat center left;
	height: 4px;
	width: 100%;
	margin-bottom: 25px;
}
nav .secondary  h4{
	display: inline-block;
	font-size: 12px;
	color: #5b6779;
	text-transform: uppercase;/*把标题转换成大写英文字母*/	
}
nav .secondary  h4 + a{
	background: url(images/settings.png) no-repeat center right;
	display: inline-block;
	width: 16px;
	height: 16px;
	float: right;

}
nav .secondary ul li{
	color: #b7c0cd;
	margin: 26px 0;
}
nav .secondary ul li a,.server a{
	text-decoration:none; 
	color:#b7c0cd; 
}

/*添加图标*/
nav .secondary .products ul li{
	padding-left: 30px;
}

/*background-repeat/-position/...没有继承性*/
nav .secondary .products ul li:nth-child(1){
	background: url(images/Book.png) no-repeat center left;
}
nav .secondary .products ul li:nth-child(2){
	background: url(images/Video.png) no-repeat center left;
}
nav .secondary .products ul li:nth-child(3){
	background: url(images/Painting.png) no-repeat center left;
}
nav .secondary .products ul li:nth-child(4){
	background: url(images/Chart.png) no-repeat center left;
}

/*底部server状态栏*/
nav .secondary .server{
	margin-top: 30%;
	color: #fff;
	padding-right: 10px;
	padding-bottom: 15px;
}
nav .progress{
	background: url(images/Fill.png) no-repeat left,url(images/Base_sever.png);
	height: 4px;
	margin-top: 10px;
}


/*
1.右侧白色区域，宽度自适应，
2.最左一列固定宽度，
3.右上方的人脸，名字部分相对浏览器右上角固定位置
*/

/*top bar :profile; w=1230,h=80*/

/*margin-left:30px;*/



/*右侧白色区域:w=1280*/
.chart{
	position: absolute;
	top: 0;
	left: 350px;
	width: calc(100%-350px);
	height: 100%;
	font-size: 14px;/*这个大小的字体最多*/
	/*overflow: hidden;*/
	/*margin-left: 350px;/*c，350px,21% */

}
.chart .header{
	height: 58px;

    position: fixed;
    top: 0px;
    left: 350px;
    width: calc(-350px + 100%);
    z-index: 1;
    font-size: 0px;


}
.chart .header .top{
	height: 58px;
	border-bottom: 1px solid #ccc;	

}
.chart .header .top h3{
    display: inline-block;
    float: left;
    font-size: 24px;
    font-family: times;
    font-weight: lighter;
    color: #354052;
    margin: 13px 20px;
    vertical-align: middle;
   
}
.chart .header .top .right{
    width: 193px;
    height: 58px;
    display: inline-block;
    float: right;
    z-index: 1;
    margin-top: 3px;
}
.chart .header .top .right .photo{
    display: inline-block;
    float: left;
    width: 58px;
    height: 58px;
    border-radius: 29px;
    background: url(images/Face.png) no-repeat ,url(images/Statusf.png) no-repeat 33px 33px;
}
.chart .header .top .right span:nth-child(2){
    color: #2399f1;
    font-size: 16px;
}
.chart .header .top .right span:nth-child(3) {
    color: #b5b5b5;
    font-size: 14px;
}
.chart .header .top .right .drap{
	display: inline-block;
	width: 11px;
	height: 7px;
	background: url(images/dropdown.png);
	margin-bottom: 10px;
	margin-left: 10px;
}
.chart .header .subtop{
	width: 100%;
	padding: 5px 15px;
}
.chart .left_contact form{
	display: inline-block;
	border: 1px solid #e6e9ec;
	border-top: none;
	height: 58px;
	width: 100%;
	padding-top: 0px;
	box-sizing:border-box;
	padding-top: 10px;
	text-align: center;
	margin
}
.chart .left_contact [type='search'] {
    border-style: none;
    border: 1px solid #b5b5b5;
    width: 260px;
    height: 36px;
    border-right: none;
    vertical-align: top;
}
.chart .left_contact form button {
    width: 36px;
    height: 36px;
    border: 1px solid #b5b5b5;
    background: url(images/Search.png) no-repeat center center;
    cursor: pointer;   
    margin-left: -5px;
}
.chart .header .subtop .right {
	
	display: inline-block;

	padding-left: 20px;
	height: 36px;
	margin-left: 400px;

}
/*段落p*/
.chart .right_chat p{
    width: 100%;
    margin-right: 0px;
    float: right;
    border-radius: 5px;   
    border:1px solid #ccc; 
    padding: 5px 0;
}
.chart .right_chat p.tools{
	height: 58px; 
	padding-top: 15px;
}
.chart .right_chat p.tools .name{
    font-size: 18px;
    color: #585d68;
    display: inline-block;
    margin-right: 15%;
    width: 125px;
    height: 25px;
    float: left;
    background: url(images/Status.png) no-repeat center right;

}
.chart .right_chat p.tools a {
    display: inline-block;
    float: left;
    width: 36px;
    height: 32px;
    padding: 0 1.7rem 1.5rem 0;
    border: 1px solid #ced0da;

}
.chart .right_chat p.tools .a1{
    background: url(images/User_icon.png) no-repeat center center,linear-gradient(to top, #f2f4f7, #fff);
}
.chart .right_chat p.tools .a2{
    background: url(images/Upload_icon.png) no-repeat center center,linear-gradient(to top, #f2f4f7, #fff);
}
.chart .right_chat p.tools .a3{
    background: url(images/Trash_icon.png) no-repeat center center,linear-gradient(to top, #f2f4f7, #fff);
}


.chart .right_chat p.tools a:nth-child(7) {
    display: inline-block;
    background: url(images/Arrow_left.png) no-repeat center center,linear-gradient(to top, #f2f4f7, #fff);
    margin-right: 0px;
    float: left;
    width: 36px;
    height: 32px;
    border: 1px solid #ced0da;

}
.chart .right_chat p.tools a:nth-child(8) {
    display: inline-block;
    background: url(images/Arrow_right.png) no-repeat center center,linear-gradient(to top, #f2f4f7, #fff);
    margin-right: 0px;
    float: left;
    width: 36px;
    height: 32px;
    border: 1px solid #ced0da;
}

.chart .right_chat .devi {
    display: inline-block;
    width: 1px;
    height: 32px;
    margin: 0 2rem;
    background: #ced0da;
    float: left;
}
.chart .right_chat .no {
    display: inline-block;
    float: left;
    margin: 5px 20px 0 0px;
    color: #7f8fa4;    
}
.chart .left_contact{
   	border-bottom: 1px solid #ccc;
    color: #585d68;	
    width: 400px;
    height: 100%;
    overflow: scroll;
	overflow-x: hidden;

	position: absolute;
	top: 58px;	
}
.chart .left_contact  .user_info{

	width: 100%;

	height: 132px;

	padding: 10px;

	border-bottom: 1px solid #e6e9ec;

	cursor: pointer;

}

.chart .left_contact  .user_info .avatar{

	width: 180px;

	height: 50px;	

	padding-left: 65px;

	float: left;

}

/*ID选择器似乎更加高效*/

.chart .left_contact #Bessie{

	background: url(images/Face_women.png) no-repeat center left;

}

.chart .left_contact #Victor{

	background: url(images/victor.png) no-repeat center left;

}

.chart .left_contact #dustin{

	background: url(images/dustin.png) no-repeat center left;

}

.chart .left_contact #jack{

	background: url(images/jack.png) no-repeat center left;

}

.chart .left_contact #Stephen{

	background: url(images/stphen.png) no-repeat center left;

}

.chart .left_contact #sally{

	background: url(images/sally.png) no-repeat center left;

}

.chart .left_contact #robert{

	background: url(images/robert.png) no-repeat center left;

}



/*所在公司 如twitters*/

.chart .left_contact  span:nth-child(2){

	color: #b5b5b5;		

}



/*头像右侧数字：last_login*/

.chart .left_contact  .last_login{

	color: #7f8fa4;

	float: right;

}

/* last Email*/

.chart .left_contact p{

	clear: both;

	padding-top: 10px;

	color: #585d68;

}





/*右侧白色聊天框，宽度自适应*/

.chart .right_chat{
	width: calc(100%-750px);
	height: 100%;	
	display: inline-block;
	float: right;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 58px;
	margin-left: 415px;
}

/*聊天详细信息*/

.chart .right_chat .messages_past{
	/*width: 100%;*/
	display: flex;
	flex-direction: column;
	padding: 20px;

	position: relative;



}



/*信息分隔栏*/

.chart .right_chat .messages_past .info_devi,.messages_past .info_devi2{

	display: inline-block;

	float: left;

	/*width: 361px;*/

	width: 100%;

	height: 1px;



}

.chart .right_chat .messages_past .info_devi{

	background: #e5e9ed;

}
.chart .right_chat .messages_past h3{

	font-size: 16px;

	color: #585d68;

	display: inline-block;
	float: left;

}

.chart .right_chat .messages_past span{

	display: inline-block;


	color: #7f8fa4;

	font-size:14px;

	margin-left: 25px;

	float: left;


}



/*头像*/

.chart .right_chat .messages_past .Bessie{

	background: url(images/Face_women.png) no-repeat top left;
	padding-left: 60px;
	margin-top: 20px;	

}
.chart .right_chat .messages_past .mar_top{
	margin-top: -10px;
}

.chart .right_chat .messages_past .jordan{

	background: url(images/Face_jordan.png) no-repeat top left;
	padding-left: 60px;
	margin-top: 20px;
}
.chart .right_chat .messages_past hr{
	margin-top: 40px;
	border:1px solid #ccc;	
}
.chart .right_chat .messages_past .hr-more{
	height: 10px;  //div的高度
    width: 50px;   //div的宽度
    

    
    
    background: #fff;
    position: relative;
    left: 43%;
    top:-20px;
    
    
}
/*.chart .right_chat button,.chart .right_chat input{
	display: inline-block;
	height: 58px;
	float: left;
}*/
.chart .right_chat button{
	width: 58px;
	height: 58px;
	background: url(images/Plus_Icon.png) no-repeat center,linear-gradient(to top, gray, #fff);
	background-color: #ccc;

	position: absolute;
	bottom: 10px;
	left: 2px;
	cursor: pointer;
}
.chart .right_chat textarea{
	position: absolute;
	left: 58px;
	bottom: 10px;
	width: 400px;
	height: 58px;
	float: left;
}